<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VersionString" value="VGM工具箱涅普缇努汉化版r1047rev4(2026_05_30)"/>
    <add key="MenuTree_RootNode" value="VGM工具箱 "/>
    <add key="MenuTree_AuditingRootNode" value="审计工具"/>
    <add key="MenuTree_DatafileCreatorNode" value="数据文件创建者"/>
    <add key="MenuTree_RebuilderNode" value="重建者"/>
    <add key="MenuTree_DatafileCheckerNode" value="数据文件检查器"/>
    <add key="MenuTree_DatafileEditorNode" value="数据文件编辑器"/>
    <add key="MenuTree_CollectionBuilderNode" value="集合构建器"/>
    <add key="MenuTree_ExamineRootNode" value="检查/探索工具"/>
    <add key="MenuTree_TagViewerNode" value="标签/信息查看器"/>
    <add key="MenuTree_ChecksumNode" value="校验和计算器/重复文件查找器"/>
    <add key="MenuTree_SearchForFilesNode" value="文件搜索"/>
    <add key="MenuTree_MiscellaneousToolsNode" value="杂项工具"/>
    <add key="MenuTree_HootRootNode" value="Hoot工具"/>
    <add key="MenuTree_CsvDatafileNode" value="CSV转数据文件"/>
    <add key="MenuTree_XmlBuilderNode" value="XML构建器"/>
    <add key="MenuTree_HootAuditorNode" value="集合审核器"/>
    <add key="MenuTree_NsfRootNode" value="NSF工具"/>
    <add key="MenuTree_NsfeM3uNode" value="NSFE转NSF+M3U"/>
    <add key="MenuTree_GbsRootNode" value="GBS工具"/>
    <add key="MenuTree_GbsM3uNode" value="GBS M3U创建器"/>
    <add key="MenuTree_VgmRootNode" value="VGM工具"/>
    <add key="MenuTree_VgmTagEditorNode" value="VGM标签编辑器"/>
    <add key="MenuTree_XsfRootNode" value="xSF工具"/>
    <add key="MenuTree_Xsf2ExeNode" value="xSF转EXE"/>
    <add key="MenuTree_XsfRecompressNode" value="xSF重新压缩"/>
    <add key="MenuTree_XsfTagEditorNode" value="xSF标签编辑器"/>
    <add key="MenuTree_2sfRootNode" value="2SF"/>
    <add key="MenuTree_2sfRipperOldNode" value="2SF提取器（旧格式）"/>
    <add key="MenuTree_Make2sfNode" value="制作2SF文件"/>
    <add key="MenuTree_NdsTo2sfNode" value="NDS转2SF"/>
    <add key="MenuTree_2sfTimerNode" value="2SF定时器"/>
    <add key="MenuTree_SdatOptimizerNode" value="SDAT优化器"/>
    <add key="MenuTree_V1toV2CopyNode" value="V1到V2标签复制器"/>
    <add key="MenuTree_PsfRootNode" value="PSF"/>
    <add key="MenuTree_PsfDataFinderNode" value="PSF数据查找器"/>
    <add key="MenuTree_Bin2PsfFENode" value="PSF制作器"/>
    <add key="MenuTree_PsfStubCreatorNode" value="PSF存根创建器"/>
    <add key="MenuTree_SeqExtractorNode" value="PSF定时器"/>
    <add key="MenuTree_VabSplitterNode" value="VAB分割器"/>
    <add key="MenuTree_SepToSeqExtractorNode" value="SEP分割器"/>
    <add key="MenuTree_EasyPsfExtractorNode" value="简易PSF驱动提取器"/>
    <add key="MenuTree_Psf2RootNode" value="PSF2"/>
    <add key="MenuTree_Psf2DataFinderNode" value="PSF2数据查找器"/>
    <add key="MenuTree_MkPsf2FENode" value="mkpsf2前端"/>
    <add key="MenuTree_UnPkPsf2FENode" value="PSF2解包器"/>
    <add key="MenuTree_Psf2ToPsf2LibNode" value="PSF2转PSF2LIB"/>
    <add key="MenuTree_Psf2SqExtractorNode" value="PSF2 SQ提取器"/>
    <add key="MenuTree_Psf2TimerNode" value="PSF2定时器"/>
    <add key="MenuTree_SsfRootNode" value="SSF"/>
    <add key="MenuTree_SsfMakeFENode" value="ssfmake前端"/>
    <add key="MenuTree_SsfSeqTonExtFENode" value="seqext/tonext前端"/>
    <add key="MenuTree_ExtractionRootNode" value="提取工具"/>
    <add key="MenuTree_ExtractionGenericRootNode" value="通用"/>
    <add key="MenuTree_SimpleCutterNode" value="简易切割器"/>
    <add key="MenuTree_OffsetFinderNode" value="高级切割器/偏移查找器"/>
    <add key="MenuTree_ExtractCdxaNode" value="CD-XA提取器"/>
    <add key="MenuTree_ExtractMidiNode" value="MIDI提取器"/>
    <add key="MenuTree_ExtractionNdsRootNode" value="任天堂NDS"/>
    <add key="MenuTree_SdatExtractorNode" value="SDAT提取器"/>
    <add key="MenuTree_SdatFinderNode" value="SDAT查找器"/>
    <add key="MenuTree_ExtractionPcRootNode" value="个人电脑（PC）"/>
    <add key="MenuTree_GenhRootNode" value="GENH"/>
    <add key="MenuTree_GenhCreationRootNode" value="创建/编辑/提取GENH"/>
    <add key="MenuTree_CompressionRootNode" value="解压缩工具"/>
    <add key="MenuTree_ExtractGzipNode" value="gzip压缩/解压缩"/>
    <add key="MenuTree_ExtractZlibNode" value="zlib压缩/解压缩"/>
    <add key="Form_Global_OperationCancelled" value="操作已取消."/>
    <add key="Form_Global_CancelPending" value="取消待处理..."/>
    <add key="Form_Global_ErrorWindowTitle" value="错误"/>
    <add key="Form_Global_DropSourceFiles" value="在此处拖放文件"/>

    <!-- Simple Cutter (Offset Finder) -->
    <add key="Form_SimpleCutter_Title" value="高级切割器/偏移查找器"/>
    <add key="Form_SimpleCutter_IntroText" value="在此处拖放文件 - 预设可从 plugins\AdvancedCutter 加载"/>
    <add key="Form_SimpleCutter_GroupFiles" value="文件"/>
    <add key="Form_SimpleCutter_LblDragNDrop" value="拖放文件"/>
    <add key="Form_SimpleCutter_GroupCriteria" value="搜索条件"/>
    <add key="Form_SimpleCutter_CheckBoxDoCut" value="切割文件"/>
    <add key="Form_SimpleCutter_LblStringAtOffset" value="字符串在偏移处"/>
    <add key="Form_SimpleCutter_LblOutputExtension" value="输出扩展名"/>
    <add key="Form_SimpleCutter_GroupCutSizeOptions" value="切割尺寸选项"/>
    <add key="Form_SimpleCutter_RadioStaticCutSize" value="静态切割尺寸"/>
    <add key="Form_SimpleCutter_RadioOffsetBasedCutSize" value="偏移切割尺寸"/>
    <add key="Form_SimpleCutter_LblHasSize" value="包含尺寸"/>
    <add key="Form_SimpleCutter_LblStoredIn" value="存储在"/>
    <add key="Form_SimpleCutter_LblInBytes" value="（字节）"/>
    <add key="Form_SimpleCutter_LblFromStart" value="从开始"/>
    <add key="Form_SimpleCutter_LblInBytes2" value="（字节）"/>
    <add key="Form_SimpleCutter_LblByteOrder" value="字节顺序"/>
    <add key="Form_SimpleCutter_RadioUseTerminator" value="使用终止符"/>
    <add key="Form_SimpleCutter_CheckBoxTreatTerminatorAsHex" value="将终止符视为十六进制"/>
    <add key="Form_SimpleCutter_CheckBoxIncludeTerminatorInLength" value="在长度中包含终止符"/>
    <add key="Form_SimpleCutter_CheckBoxExtracCutSizeBytes" value="添加额外字节"/>
    <add key="Form_SimpleCutter_MessageCancel" value="操作已取消"/>
    <add key="Form_SimpleCutter_MessageComplete" value="操作完成"/>
    <add key="Form_SimpleCutter_MessageBegin" value="正在处理..."/>

    <!-- Snakebite GUI -->
    <add key="Form_SnakebiteGUI_Title" value="简易切割器"/>
    <add key="Form_SnakebiteGUI_IntroText" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_SnakebiteGUI_BtnDoTask" value="执行任务"/>
    <add key="Form_SnakebiteGUI_GrpFiles" value="文件"/>
    <add key="Form_SnakebiteGUI_LblSourceFiles" value="源文件"/>
    <add key="Form_SnakebiteGUI_LblDragNDrop" value="拖放文件"/>
    <add key="Form_SnakebiteGUI_GroupOutputMode" value="输出模式"/>
    <add key="Form_SnakebiteGUI_RbNameOutput" value="命名输出"/>
    <add key="Form_SnakebiteGUI_RbAutoName" value="自动命名"/>
    <add key="Form_SnakebiteGUI_LblOutputFile" value="输出文件"/>
    <add key="Form_SnakebiteGUI_LblFileExtension" value="文件扩展名"/>
    <add key="Form_SnakebiteGUI_GrpOptions" value="选项"/>
    <add key="Form_SnakebiteGUI_LblStartAddress" value="起始地址"/>
    <add key="Form_SnakebiteGUI_RbEndAddress" value="结束地址"/>
    <add key="Form_SnakebiteGUI_RbLength" value="长度"/>
    <add key="Form_SnakebiteGUI_RbEndOfFile" value="文件结束"/>
    <add key="Form_SnakebiteGUI_ErrorSingleFile" value="自动命名模式需要单个源文件，或者使用拖放模式"/>
    <add key="Form_SnakebiteGUI_ErrorInputOutputSame" value="输入和输出文件不能相同"/>
    <add key="Form_SnakebiteGUI_MessageCancel" value="操作已取消"/>
    <add key="Form_SnakebiteGUI_MessageComplete" value="操作完成"/>
    <add key="Form_SnakebiteGUI_MessageBegin" value="正在处理..."/>

    <!-- NDS to 2SF -->
    <add key="Form_NdsTo2sf_Title" value="NDS转2SF"/>
    <add key="Form_NdsTo2sf_IntroText" value="在此处拖放NDS文件"/>
    <add key="Form_NdsTo2sf_MessageCancel" value="操作已取消"/>
    <add key="Form_NdsTo2sf_MessageComplete" value="操作完成"/>
    <add key="Form_NdsTo2sf_MessageBegin" value="正在处理..."/>

    <!-- Make 2SF -->
    <add key="Form_Make2sf_IntroText1" value="请确保你有必要的测试包文件"/>
    <add key="Form_Make2sf_IntroText2" value="测试包应该位于: {0}"/>
    <add key="Form_Make2sf_ErrorMessageTestpackMissing" value="测试包文件 {0} 未找到！请将其放在 {1} 目录中。"/>
    <add key="Form_Make2sf_ErrorMessageTestpackMissingHeader" value="缺少测试包 {0}"/>
    <add key="Form_Make2sf_ErrorMessageTestpackCrc32" value="测试包文件 {0} 具有不正确的CRC32校验和！请确保你有正确的文件。预期的CRC32: {2}"/>
    <add key="Form_Make2sf_ErrorMessageTestpackCrc32Header" value="测试包 {0} 的CRC32不匹配"/>

    <!-- Gzip Compression -->
    <add key="Form_GzipCompress_Title" value="gzip压缩/解压缩"/>
    <add key="Form_GzipCompress_IntroText1" value="解压缩gzip文件将得到扩展名为{0}的文件{1}"/>
    <add key="Form_GzipCompress_IntroText2" value="压缩文件将得到扩展名为{0}的文件{1}"/>
    <add key="Form_GzipCompress_GrpOptions" value="选项"/>
    <add key="Form_GzipCompress_RbDecompress" value="解压缩"/>
    <add key="Form_GzipCompress_RbCompress" value="压缩"/>
    <add key="Form_GzipCompress_LblOffset" value="起始偏移量（可选）"/>
    <add key="Form_GzipCompress_MessageCancel" value="操作已取消"/>
    <add key="Form_GzipCompress_MessageComplete" value="操作完成"/>
    <add key="Form_GzipCompress_MessageBegin" value="正在处理..."/>
    <add key="Form_GzipCompress_ErrorIntParse" value="请输入有效的数字作为偏移量"/>

    <!-- Zlib Compression -->
    <add key="Form_ZlibCompress_Title" value="zlib压缩/解压缩"/>
    <add key="Form_ZlibCompress_IntroText1" value="解压缩zlib文件将得到扩展名为{0}的文件{1}"/>
    <add key="Form_ZlibCompress_IntroText2" value="压缩文件将得到扩展名为{0}的文件{1}"/>
    <add key="Form_ZlibCompress_GrpOptions" value="选项"/>
    <add key="Form_ZlibCompress_RbDecompress" value="解压缩"/>
    <add key="Form_ZlibCompress_RbCompress" value="压缩"/>
    <add key="Form_ZlibCompress_LblOffset" value="起始偏移量（可选）"/>
    <add key="Form_ZlibCompress_MessageCancel" value="操作已取消"/>
    <add key="Form_ZlibCompress_MessageComplete" value="操作完成"/>
    <add key="Form_ZlibCompress_MessageBegin" value="正在处理..."/>

    <!-- CD-XA Extractor -->
    <add key="Form_CdxaExtractor_Title" value="CD-XA提取器"/>
    <add key="Form_CdxaExtractor_IntroText" value="从文件中提取XA数据。应使用ISO提取工具从光盘镜像中提取XA文件，然后您可以在此处提取CD - XA音频数据。"/>
    <add key="Form_CdxaExtractor_GroupOptions" value="选项"/>
    <add key="Form_CdxaExtractor_RadioTrackEof" value="使用轨道结束标记确定EOF"/>
    <add key="Form_CdxaExtractor_RadioSilentEof" value="使用静默块确定EOF"/>
    <add key="Form_CdxaExtractor_LblSilentBlocks" value="确定文件结束的静音帧数（如果多个音轨被提取到单个文件中，请减小此值。）"/>
    <add key="Form_CdxaExtractor_CheckBoxTwoPass" value="使用双通道方法，如果将多个轨道提取到单个文件中，请使用此方法即使静默帧数设置等于1"/>
    <add key="Form_CdxaExtractor_CheckBoxFilterById" value="按ID过滤（如果没有提取文件，则取消选中）"/>
    <add key="Form_CdxaExtractor_CheckBoxAddRiffHeader" value="添加RIFF头（目前所有播放器都需要）"/>
    <add key="Form_CdxaExtractor_CheckBoxPatchByte0x11" value="将0x11处的字节修补为0x00（大多数播放器也需要）"/>
    <add key="Form_CdxaExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_CdxaExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_CdxaExtractor_MessageBegin" value="正在处理..."/>

    <!-- GENH Creator -->
    <add key="Form_GenhCreator_Title" value="GENH创建器/编辑器/提取器"/>
    <add key="Form_GenhCreator_IntroText" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_GenhCreator_tbSourceDirectory" value="源目录"/>
    <add key="Form_GenhCreator_LblFilenameFilter" value="文件名过滤器"/>
    <add key="Form_GenhCreator_GroupFormat" value="格式"/>
    <add key="Form_GenhCreator_GroupOptions" value="选项"/>
    <add key="Form_GenhCreator_LblHeaderSkip" value="头部跳过(字节)"/>
    <add key="Form_GenhCreator_LblInterleave" value="交错(字节)"/>
    <add key="Form_GenhCreator_LblChannels" value="通道数"/>
    <add key="Form_GenhCreator_LblFrequency" value="频率"/>
    <add key="Form_GenhCreator_LblLoopStart" value="循环开始"/>
    <add key="Form_GenhCreator_LblLoopEnd" value="循环结束"/>
    <add key="Form_GenhCreator_CheckBoxManualEntry" value="手动输入循环"/>
    <add key="Form_GenhCreator_CheckBoxNoLoops" value="无循环"/>
    <add key="Form_GenhCreator_CheckBoxFileEnd" value="循环到文件结束"/>
    <add key="Form_GenhCreator_CheckBoxFindLoop" value="查找循环"/>
    <add key="Form_GenhCreator_LblRightCoef" value="右通道系数"/>
    <add key="Form_GenhCreator_LblLeftCoef" value="左通道系数"/>
    <add key="Form_GenhCreator_CheckBoxHeaderOnly" value="仅头部"/>
    <add key="Form_GenhCreator_MessageErrors" value="错误"/>
    <add key="Form_GenhCreator_MessageNoInputs" value="没有输入文件！"/>
    <add key="Form_GenhCreator_MessageHeaderSkip" value="无效的头部跳过值！"/>
    <add key="Form_GenhCreator_MessageInterleave" value="无效的交错值！"/>
    <add key="Form_GenhCreator_MessageChannels" value="无效的通道数值！"/>
    <add key="Form_GenhCreator_MessageFrequency" value="无效的频率值！"/>
    <add key="Form_GenhCreator_MessageLoopStart1" value="无效的循环开始值！"/>
    <add key="Form_GenhCreator_MessageLoopStart2" value="循环开始必须小于循环结束！"/>
    <add key="Form_GenhCreator_MessageLoopEnd" value="无效的循环结束值！"/>
    <add key="Form_GenhCreator_MessageCoefRight" value="无效的右通道系数！"/>
    <add key="Form_GenhCreator_MessageCoefLeft" value="无效的左通道系数！"/>
    <add key="Form_GenhCreator_MessageFileEnd" value="循环结束不能设置为文件结束！"/>
    <add key="Form_GenhCreator_MessageCancel" value="操作已取消"/>
    <add key="Form_GenhCreator_MessageComplete" value="操作完成"/>
    <add key="Form_GenhCreator_MessageBegin" value="正在处理..."/>
    <add key="Form_GenhCreator_BtnDoTaskCreate" value="创建GENH文件"/>
    <add key="Form_GenhCreator_BtnDoTaskEdit" value="编辑GENH文件"/>
    <add key="Form_GenhCreator_BtnDoTaskExtract" value="提取GENH文件"/>

    <!-- VGM Tag Editor -->
    <add key="Form_VgmTagEditor_Title" value="VGM标签编辑器"/>
    <add key="Form_VgmTagEditor_DoTaskButton" value="应用标签"/>
    <add key="Form_VgmTagEditor_Info" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_VgmTagEditor_GrpSourceFiles" value="源文件"/>
    <add key="Form_VgmTagEditor_GrpSetTags" value="设置标签"/>
    <add key="Form_VgmTagEditor_LblGameEn" value="游戏名称 (EN)"/>
    <add key="Form_VgmTagEditor_LblGameJp" value="游戏名称 (JP)"/>
    <add key="Form_VgmTagEditor_LblSystemEn" value="系统名称 (EN)"/>
    <add key="Form_VgmTagEditor_LblSystemJp" value="系统名称 (JP)"/>
    <add key="Form_VgmTagEditor_LblArtistEn" value="艺术家 (EN)"/>
    <add key="Form_VgmTagEditor_LblArtistJp" value="艺术家 (JP)"/>
    <add key="Form_VgmTagEditor_LblGameDate" value="游戏日期"/>
    <add key="Form_VgmTagEditor_LblRipper" value="提取者"/>
    <add key="Form_VgmTagEditor_GrpTrackTags" value="音轨标签"/>
    <add key="Form_VgmTagEditor_LblTrackTitleEn" value="音轨标题 (EN)"/>
    <add key="Form_VgmTagEditor_LblTrackTitleJp" value="音轨标题 (JP)"/>
    <add key="Form_VgmTagEditor_GrpComments" value="注释"/>
    <add key="Form_VgmTagEditor_MessageCancel" value="操作已取消"/>
    <add key="Form_VgmTagEditor_MessageComplete" value="操作完成"/>
    <add key="Form_VgmTagEditor_MessageBegin" value="正在处理..."/>

    <!-- Audit Datafile Checker -->
    <add key="Form_AuditDatafileChecker_Title" value="数据文件检查器"/>
    <add key="Form_AuditDatafileChecker_DoTaskButton" value="检查数据文件"/>
    <add key="Form_AuditDatafileChecker_IntroText" value="在此处拖放数据文件或使用浏览按钮"/>
    <add key="Form_AuditDatafileChecker_GroupSource" value="源"/>
    <add key="Form_AuditDatafileChecker_LblSourceDataFile" value="源数据文件"/>
    <add key="Form_AuditDatafileChecker_LblReportDestination" value="报告目标"/>
    <add key="Form_AuditDatafileChecker_MessageCancel" value="操作已取消"/>
    <add key="Form_AuditDatafileChecker_MessageComplete" value="操作完成"/>
    <add key="Form_AuditDatafileChecker_MessageBegin" value="正在处理..."/>

    <!-- Audit Datafile Creator -->
    <add key="Form_AuditDatafileCreator_Title" value="数据文件创建者"/>
    <add key="Form_AuditDatafileCreator_DoTaskButton" value="创建数据文件"/>
    <add key="Form_AuditDatafileCreator_IntroText" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_AuditDatafileCreator_GroupHeader" value="头部"/>
    <add key="Form_AuditDatafileCreator_GroupSourceDestination" value="源/目标路径"/>
    <add key="Form_AuditDatafileCreator_LblHeaderName" value="头部名称"/>
    <add key="Form_AuditDatafileCreator_MessageCancel" value="操作已取消"/>
    <add key="Form_AuditDatafileCreator_MessageComplete" value="操作完成"/>
    <add key="Form_AuditDatafileCreator_MessageBegin" value="正在处理..."/>

    <!-- Datafile Editor -->
    <add key="Form_DatafileEditor_Title" value="数据文件编辑器"/>
    <add key="Form_DatafileEditor_DoTaskButton" value="保存数据文件"/>
    <add key="Form_DatafileEditor_IntroText" value="在此处拖放数据文件或使用浏览按钮"/>
    <add key="Form_DatafileEditor_ErrorDatafileParse" value="解析数据文件时出错: {0}{1}"/>
    <add key="Form_DatafileEditor_ErrorDatafileSelectedNode" value="请选择一个节点！"/>
    <add key="Form_DatafileEditor_ErrorDatafileSelectedNodeTitle" value="错误"/>

    <!-- Audit Rebuilder -->
    <add key="Form_AuditRebuilder_Title" value="重建者"/>
    <add key="Form_AuditRebuilder_DoTaskButton" value="重建"/>
    <add key="Form_AuditRebuilder_IntroText" value="重建数据文件中列出的文件"/>
    <add key="Form_AuditRebuilder_GroupDirectories" value="目录"/>
    <add key="Form_AuditRebuilder_LblSourceDir" value="源目录"/>
    <add key="Form_AuditRebuilder_LblDestinationDir" value="目标目录"/>
    <add key="Form_AuditRebuilder_GroupDatafile" value="数据文件"/>
    <add key="Form_AuditRebuilder_GroupOptions" value="选项"/>
    <add key="Form_AuditRebuilder_CheckBoxRemoveSource" value="移除源文件"/>
    <add key="Form_AuditRebuilder_CheckBoxOverwrite" value="覆盖现有文件"/>
    <add key="Form_AuditRebuilder_CheckBoxScanOnly" value="仅扫描"/>
    <add key="Form_AuditRebuilder_CheckBoxCompressOutput" value="压缩输出"/>
    <add key="Form_AuditRebuilder_ErrorSourceDestSame" value="源目录和目标目录不能相同！"/>
    <add key="Form_AuditRebuilder_MessageCancel" value="操作已取消"/>
    <add key="Form_AuditRebuilder_MessageComplete" value="操作完成"/>
    <add key="Form_AuditRebuilder_MessageBegin" value="正在处理..."/>

    <!-- Checksum Calculator -->
    <add key="Form_ChecksumCalculator_Title" value="校验和计算器/重复文件查找器"/>
    <add key="Form_ChecksumCalculator_IntroText" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_ChecksumCalculator_GroupSourceFiles" value="源文件"/>
    <add key="Form_ChecksumCalculator_GroupOptions" value="选项"/>

    <!-- Offset Finder -->
    <add key="Form_OffsetFinder_Title" value="高级切割器/偏移查找器"/>
    <add key="Form_OffsetFinder_IntroText" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_OffsetFinder_GroupSourceFiles" value="源文件"/>
    <add key="Form_OffsetFinder_LblDragNDrop" value="拖放文件"/>
    <add key="Form_OffsetFinder_GroupSearchOptions" value="搜索选项"/>
    <add key="Form_OffsetFinder_LblSearchString" value="搜索字符串"/>
    <add key="Form_OffsetFinder_CheckBoxHexSearch" value="十六进制搜索"/>
    <add key="Form_OffsetFinder_LblOffset" value="偏移量"/>
    <add key="Form_OffsetFinder_LblOffsetEnd" value="偏移量结束"/>
    <add key="Form_OffsetFinder_GroupOutput" value="输出"/>
    <add key="Form_OffsetFinder_LblOutputDir" value="输出目录"/>
    <add key="Form_OffsetFinder_LblOutputExtension" value="输出扩展名"/>
    <add key="Form_OffsetFinder_CheckBoxAutoOutputDir" value="自动输出目录"/>
    <add key="Form_OffsetFinder_MessageCancel" value="操作已取消"/>
    <add key="Form_OffsetFinder_MessageComplete" value="操作完成"/>
    <add key="Form_OffsetFinder_MessageBegin" value="正在处理..."/>

    <!-- Extract Sony ADPCM -->
    <add key="Form_ExtractSonyAdpcm_Title" value="Sony ADPCM提取器"/>
    <add key="Form_ExtractSonyAdpcm_IntroText" value="在此处拖放文件或使用浏览按钮"/>
    <add key="Form_ExtractSonyAdpcm_BtnDoTask" value="执行任务"/>
    <add key="Form_ExtractSonyAdpcm_GrpFiles" value="文件"/>
    <add key="Form_ExtractSonyAdpcm_LblSourceFiles" value="源文件"/>
    <add key="Form_ExtractSonyAdpcm_LblDragNDrop" value="拖放文件"/>
    <add key="Form_ExtractSonyAdpcm_GrpOptions" value="选项"/>
    <add key="Form_ExtractSonyAdpcm_LblStartAddress" value="起始地址"/>
    <add key="Form_ExtractSonyAdpcm_RbEndAddress" value="结束地址"/>
    <add key="Form_ExtractSonyAdpcm_RbLength" value="长度"/>
    <add key="Form_ExtractSonyAdpcm_RbEndOfFile" value="文件结束"/>
    <add key="Form_ExtractSonyAdpcm_MessageCancel" value="操作已取消"/>
    <add key="Form_ExtractSonyAdpcm_MessageComplete" value="操作完成"/>
    <add key="Form_ExtractSonyAdpcm_MessageBegin" value="正在处理..."/>

    <!-- MIDI Extractor -->
    <add key="Form_MidiExtractor_Title" value="MIDI提取器"/>
    <add key="Form_MidiExtractor_IntroText" value="在此处拖放文件 - 支持从标准格式和RIFF格式中提取MIDI数据"/>
    <add key="Form_MidiExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_MidiExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_MidiExtractor_MessageBegin" value="正在处理..."/>

    <!-- SDAT Extractor -->
    <add key="Form_SdatExtractor_Title" value="SDAT提取器"/>
    <add key="Form_SdatExtractor_IntroText" value="在此处拖放SDAT文件或NDS ROM文件"/>
    <add key="Form_SdatExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_SdatExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_SdatExtractor_MessageBegin" value="正在处理..."/>

    <!-- SDAT Finder -->
    <add key="Form_SdatFinder_Title" value="SDAT查找器"/>
    <add key="Form_SdatFinder_IntroText" value="在此处拖放NDS ROM文件以查找SDAT数据"/>
    <add key="Form_SdatFinder_MessageCancel" value="操作已取消"/>
    <add key="Form_SdatFinder_MessageComplete" value="操作完成"/>
    <add key="Form_SdatFinder_MessageBegin" value="正在处理..."/>

    <!-- GBS M3U Creator -->
    <add key="Form_GbsM3u_Title" value="GBS M3U创建器"/>
    <add key="Form_GbsM3u_GroupOptions" value="选项"/>
    <add key="Form_GbsM3u_CheckBoxOneM3uPerTrack" value="为每个音轨创建一个M3U文件"/>
    <add key="Form_GbsM3u_CheckBoxKnurekFormat" value="自定义Knurek解析（你可能不需要这个）"/>
    <add key="Form_GbsM3u_MessageCancel" value="操作已取消"/>
    <add key="Form_GbsM3u_MessageComplete" value="操作完成"/>
    <add key="Form_GbsM3u_MessageBegin" value="正在处理..."/>

    <!-- NSFE to NSF+M3U -->
    <add key="Form_Nsfe2M3u_Title" value="NSFE转NSF+M3U"/>
    <add key="Form_Nsfe2M3u_GroupOptions" value="选项"/>
    <add key="Form_Nsfe2M3u_CheckBoxOneM3uPerTrack" value="为每个音轨创建一个M3U文件"/>
    <add key="Form_Nsfe2M3u_MessageCancel" value="操作已取消"/>
    <add key="Form_Nsfe2M3u_MessageComplete" value="操作完成"/>
    <add key="Form_Nsfe2M3u_MessageBegin" value="正在处理..."/>

    <!-- NSF M3U Creator -->
    <add key="Form_NsfM3u_Title" value="NSF M3U创建器"/>
    <add key="Form_NsfM3u_GroupOptions" value="选项"/>
    <add key="Form_NsfM3u_CheckBoxOneM3uPerTrack" value="为每个音轨创建一个M3U文件"/>
    <add key="Form_NsfM3u_CheckBoxUseKnurekFormat" value="使用Knurek格式"/>
    <add key="Form_NsfM3u_MessageCancel" value="NSF .M3U 创建… 已取消"/>
    <add key="Form_NsfM3u_MessageComplete" value="NSF .M3U 创建… 完成"/>
    <add key="Form_NsfM3u_MessageBegin" value="NSF .M3U 创建… 开始"/>

    <!-- xSF to EXE -->
    <add key="Form_Xsf2Exe_Title" value="xSF转EXE"/>
    <add key="Form_Xsf2Exe_GroupOptions" value="选项"/>
    <add key="Form_Xsf2Exe_CheckBoxExtractReservedSection" value="提取保留段"/>
    <add key="Form_Xsf2Exe_CheckBoxIncludeOriginalExtension" value="包含原始扩展名"/>
    <add key="Form_Xsf2Exe_CheckBoxStripGsfHeader" value="移除GSF头部"/>
    <add key="Form_Xsf2Exe_MessageCancel" value="操作已取消"/>
    <add key="Form_Xsf2Exe_MessageComplete" value="操作完成"/>
    <add key="Form_Xsf2Exe_MessageBegin" value="正在处理..."/>

    <!-- xSF Recompress -->
    <add key="Form_RecompressXsf_Title" value="xSF重新压缩"/>
    <add key="Form_RecompressXsf_DoTaskButton" value="执行任务"/>
    <add key="Form_RecompressXsf_GroupSource" value="源"/>
    <add key="Form_RecompressXsf_LabelSourceDragNDrop" value="在此处拖放文件，或浏览文件夹."/>
    <add key="Form_RecompressXsf_GroupOptions" value="选项"/>
    <add key="Form_RecompressXsf_CheckBox7zipTopLevelFolders" value="7zip（超）顶级文件夹（如果适用）"/>
    <add key="Form_RecompressXsf_MessageCancel" value="操作已取消"/>
    <add key="Form_RecompressXsf_MessageComplete" value="操作完成"/>
    <add key="Form_RecompressXsf_MessageBegin" value="正在处理..."/>

    <!-- xSF Tag Editor -->
    <add key="Form_XsfTagEditor_Title" value="xSF标签编辑器"/>
    <add key="Form_XsfTagEditor_DoTaskButton" value="执行任务"/>
    <add key="Form_XsfTagEditor_Info" value="在此处拖放文件或浏览文件夹。按住Ctrl键选择多个文件进行批量编辑。"/>
    <add key="Form_XsfTagEditor_GrpSourceFiles" value="源文件"/>
    <add key="Form_XsfTagEditor_GrpSetTags" value="设置标签"/>
    <add key="Form_XsfTagEditor_LblGame" value="游戏"/>
    <add key="Form_XsfTagEditor_LblArtist" value="艺术家"/>
    <add key="Form_XsfTagEditor_LblCopyright" value="版权"/>
    <add key="Form_XsfTagEditor_LblGenre" value="类型"/>
    <add key="Form_XsfTagEditor_LblYear" value="年份"/>
    <add key="Form_XsfTagEditor_LblXsfBy" value="xSF By"/>
    <add key="Form_XsfTagEditor_LblSystem" value="系统"/>
    <add key="Form_XsfTagEditor_GrpTrackTags" value="音轨标签"/>
    <add key="Form_XsfTagEditor_LblTrackTitle" value="标题"/>
    <add key="Form_XsfTagEditor_LblLength" value="长度"/>
    <add key="Form_XsfTagEditor_LblFade" value="淡出"/>
    <add key="Form_XsfTagEditor_LblVolume" value="音量"/>
    <add key="Form_XsfTagEditor_GrpComments" value="注释"/>
    <add key="Form_XsfTagEditor_CbDeleteEmpty" value="删除空标签"/>
    <add key="Form_XsfTagEditor_CheckboxCreateBatch" value="创建批处理文件"/>
    <add key="Form_XsfTagEditor_MessageCancel" value="操作已取消"/>
    <add key="Form_XsfTagEditor_MessageComplete" value="操作完成"/>
    <add key="Form_XsfTagEditor_MessageBegin" value="正在处理..."/>

    <!-- 2SF Tools -->
    <add key="Form_Make2sf_Title" value="制作2SF文件"/>
    <add key="Form_Make2sf_DoTaskButton" value="执行任务"/>
    <add key="Form_Make2sf_IntroText1" value="将SDAT文件转换为2SF格式。"/>
    <add key="Form_Make2sf_IntroText2" value="确保testpack.nds文件位于:{0}"/>
    <add key="Form_Make2sf_IntroText3" value="选择要转换的SDAT文件。"/>
    <add key="Form_Make2sf_IntroText4" value="选择要包含在输出中的序列。"/>
    <add key="Form_Make2sf_GroupSourcePaths" value="源路径"/>
    <add key="Form_Make2sf_LabelSdat" value="SDAT文件:"/>
    <add key="Form_Make2sf_LabelOutputPath" value="输出路径:"/>
    <add key="Form_Make2sf_GroupSetInformation" value="设置信息"/>
    <add key="Form_Make2sf_LabelGame" value="游戏"/>
    <add key="Form_Make2sf_LabelArtist" value="艺术家"/>
    <add key="Form_Make2sf_LabelCopyright" value="版权"/>
    <add key="Form_Make2sf_LabelGameSerial" value="游戏序列号"/>
    <add key="Form_Make2sf_LabelYear" value="年份"/>
    <add key="Form_Make2sf_ColumnHeader0" value="包含"/>
    <add key="Form_Make2sf_ColumnHeader1" value="序号"/>
    <add key="Form_Make2sf_ColumnHeader2" value="文件ID"/>
    <add key="Form_Make2sf_ColumnHeader3" value="大小"/>
    <add key="Form_Make2sf_ColumnHeader4" value="名称"/>
    <add key="Form_Make2sf_ColumnHeader5" value="BNK"/>
    <add key="Form_Make2sf_ColumnHeader6" value="音量"/>
    <add key="Form_Make2sf_ColumnHeader7" value="CPR"/>
    <add key="Form_Make2sf_ColumnHeader8" value="PPR"/>
    <add key="Form_Make2sf_ColumnHeader9" value="PLY"/>
    <add key="Form_Make2sf_ErrorMessageTestpackMissing" value="找不到 {0}。请将其放在:{1}"/>
    <add key="Form_Make2sf_ErrorMessageTestpackMissingHeader" value="缺少 {0}"/>
    <add key="Form_Make2sf_ErrorMessageTestpackCrc32" value="{0}的CRC32不正确。请从{1}获取正确的testpack。预期的CRC32是:{2}"/>
    <add key="Form_Make2sf_ErrorMessageTestpackCrc32Header" value="{0} CRC32错误"/>
    <add key="Form_Make2sf_ErrorMessageOutputFolder" value="输出文件夹与源文件夹相同。请选择不同的输出文件夹。"/>
    <add key="Form_Make2sf_ErrorMessageOutputFolderHeader" value="输出文件夹错误"/>
    <add key="Form_Make2sf_MessageCancel" value="操作已取消"/>
    <add key="Form_Make2sf_MessageComplete" value="操作完成"/>
    <add key="Form_Make2sf_MessageBegin" value="正在处理..."/>

    <add key="Form_2sfTimer_Title" value="2SF定时器"/>
    <add key="Form_2sfTimer_DoTaskButton" value="执行任务"/>
    <add key="Form_2sfTimer_IntroText" value="从SDAT文件中提取时间信息并应用到2SF文件。"/>
    <add key="Form_2sfTimer_GroupSourcePaths" value="源路径"/>
    <add key="Form_2sfTimer_LblPathTo2sfFiles" value="2SF文件路径:"/>
    <add key="Form_2sfTimer_LblPathToSdat" value="SDAT路径:"/>
    <add key="Form_2sfTimer_GroupOptions" value="选项"/>
    <add key="Form_2sfTimer_CheckboxSingleLoop" value="单循环模式"/>
    <add key="Form_2sfTimer_MessageCancel" value="操作已取消"/>
    <add key="Form_2sfTimer_MessageComplete" value="操作完成"/>
    <add key="Form_2sfTimer_MessageBegin" value="正在处理..."/>

    <add key="Form_SdatOptimizer_Title" value="2SF优化器"/>
    <add key="Form_SdatOptimizer_IntroText" value="通过删除未使用的序列来优化SDAT文件。"/>
    <add key="Form_SdatOptimizer_GroupSource" value="源"/>
    <add key="Form_SdatOptimizer_LblDragNDrop" value="拖放SDAT文件到此处。"/>
    <add key="Form_SdatOptimizer_GroupOptions" value="选项"/>
    <add key="Form_SdatOptimizer_LblStartingSequence" value="起始序列:"/>
    <add key="Form_SdatOptimizer_LblEndingSequence" value="结束序列:"/>
    <add key="Form_SdatOptimizer_CheckBoxIncludeAllSequences" value="包含所有序列"/>
    <add key="Form_SdatOptimizer_MessageCancel" value="操作已取消"/>
    <add key="Form_SdatOptimizer_MessageComplete" value="操作完成"/>
    <add key="Form_SdatOptimizer_MessageBegin" value="正在处理..."/>

    <add key="Form_V1toV2TagMigrator_Title" value="V1到V2标签复制器"/>
    <add key="Form_V1toV2TagMigrator_DoTaskButton" value="执行任务"/>
    <add key="Form_V1toV2TagMigrator_Title_IntroText" value="将标签从V1格式迁移到V2格式。"/>
    <add key="Form_V1toV2TagMigrator_LblV1Folder" value="V1文件夹:"/>
    <add key="Form_V1toV2TagMigrator_LblV2Folder" value="V2文件夹:"/>
    <add key="Form_V1toV2TagMigrator_BtnDefault" value="默认"/>
    <add key="Form_V1toV2TagMigrator_BtnCheckAll" value="全选"/>
    <add key="Form_V1toV2TagMigrator_BtnCheckNone" value="全不选"/>
    <add key="Form_V1toV2TagMigrator_Title_MessageCancel" value="操作已取消"/>
    <add key="Form_V1toV2TagMigrator_Title_MessageComplete" value="操作完成"/>
    <add key="Form_V1toV2TagMigrator_Title_MessageBegin" value="正在处理..."/>
    <add key="Form_V1toV2TagMigrator_ErrorMatch" value="{0}和{1}相同。请选择不同的文件夹。"/>
    <add key="Form_Global_ErrorWindowTitle" value="错误"/>

    <!-- PSF Tools -->
    <!-- PSF Data Finder -->
    <add key="Form_PsfDataFinder_Title" value="PSF数据查找器"/>
    <add key="Form_PsfDataFinder_IntroText" value="在此处拖放文件以查找PSF数据."/>
    <add key="Form_PsfDataFinder_GrpOptions" value="选项"/>
    <add key="Form_PsfDataFinder_CbMinSqSize" value="音序的最小尺寸"/>
    <add key="Form_PsfDataFinder_CbReorderSq" value="根据最大VH/VB值命名SEQ."/>
    <add key="Form_PsfDataFinder_CbByteAlign" value="VB总是从0x00偏移开始(更快,也可能跳过误报)."/>
    <add key="Form_PsfDataFinder_CbRelaxVbEof" value="放宽VB文件结束限制(仅使用样品长度来确定文件结束)"/>
    <add key="Form_PsfDataFinder_MessageCancel" value="操作已取消"/>
    <add key="Form_PsfDataFinder_MessageComplete" value="操作完成"/>
    <add key="Form_PsfDataFinder_MessageBegin" value="正在处理..."/>

    <!-- PSF Stub Creator -->
    <add key="Form_PsfStubCreator_Title" value="PSF存根创建器"/>
    <add key="Form_PsfStubCreator_IntroText" value="在此处拖放文件以创建PSF存根."/>
    <add key="Form_PsfStubCreator_GroupOptions" value="选项"/>
    <add key="Form_PsfStubCreator_LblDriverText" value="驱动程序文本字符串"/>
    <add key="Form_PsfStubCreator_ErrPsyQPath" value="未找到PsyQ SDK。请确保PsyQ SDK已安装并添加到PATH环境变量中。"/>
    <add key="Form_PsfStubCreator_ErrPsyQSdk" value="PsyQ SDK未正确安装。请检查SDK路径。"/>
    <add key="Form_PsfStubCreator_MessageCancel" value="操作已取消"/>
    <add key="Form_PsfStubCreator_MessageComplete" value="操作完成"/>
    <add key="Form_PsfStubCreator_MessageBegin" value="正在处理..."/>

    <!-- PSF Timer (Seq Extractor) -->
    <add key="Form_SeqExtractor_Title" value="PSF定时器"/>
    <add key="Form_SeqExtractor_IntroText" value="在此处拖放PSF文件以提取时间信息."/>
    <add key="Form_SeqExtractor_GroupSource" value="源文件"/>
    <add key="Form_SeqExtractor_GroupOptions" value="选项"/>
    <add key="Form_SeqExtractor_CheckBoxForce2Loops" value="为找到的所有循环强制2个循环(不推荐,仅用于超时曲目)"/>
    <add key="Form_SeqExtractor_RadioForceSepType" value="SEP类型"/>
    <add key="Form_SeqExtractor_RadioForceSeqType" value="音序类型"/>
    <add key="Form_SeqExtractor_CheckBoxLoopEntireTrack" value="循环整个轨道(这对于循环整个轨道的轨道很有用)."/>
    <add key="Form_SeqExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_SeqExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_SeqExtractor_MessageBegin" value="正在处理..."/>

    <!-- VAB Splitter -->
    <add key="Form_VabSplitter_Title" value="VAB分割器"/>
    <add key="Form_VabSplitter_IntroText" value="在此处拖放VAB文件以分割."/>
    <add key="Form_VabSplitter_MessageCancel" value="操作已取消"/>
    <add key="Form_VabSplitter_MessageComplete" value="操作完成"/>
    <add key="Form_VabSplitter_MessageBegin" value="正在处理..."/>

    <!-- PSF2 Tools -->
    <!-- PSF2 Data Finder -->
    <add key="Form_Psf2DataFinder_Title" value="PSF2数据查找器"/>
    <add key="Form_Psf2DataFinder_IntroText" value="在此处拖放文件以查找PSF2数据."/>
    <add key="Form_Psf2DataFinder_GrpOptions" value="选项"/>
    <add key="Form_Psf2DataFinder_CbMinSqSize" value="音序的最小尺寸"/>
    <add key="Form_Psf2DataFinder_CbByteAlign" value="BD总是从0x00偏移开始"/>
    <add key="Form_Psf2DataFinder_CbReorderSq" value="重排SQ文件"/>
    <add key="Form_Psf2DataFinder_MessageCancel" value="操作已取消"/>
    <add key="Form_Psf2DataFinder_MessageComplete" value="操作完成"/>
    <add key="Form_Psf2DataFinder_MessageBegin" value="正在处理..."/>

    <!-- mkpsf2 Front End -->
    <add key="Form_MkPsf2FE_Title" value="mkpsf2前端"/>
    <add key="Form_MkPsf2FE_DoTaskButton" value="执行任务"/>
    <add key="Form_MkPsf2FE_IntroText1" value="将PSF2文件转换为可播放格式."/>
    <add key="Form_MkPsf2FE_IntroText2" value="选择源目录和模块目录."/>
    <add key="Form_MkPsf2FE_IntroText3" value="设置输出选项并点击执行任务."/>
    <add key="Form_MkPsf2FE_GroupDirectory" value="目录"/>
    <add key="Form_MkPsf2FE_LblSourceDirectory" value="源目录"/>
    <add key="Form_MkPsf2FE_LblModulesDirectory" value="模块目录"/>
    <add key="Form_MkPsf2FE_LblOutputFolder" value="输出文件夹"/>
    <add key="Form_MkPsf2FE_GroupOptions" value="选项"/>
    <add key="Form_MkPsf2FE_LblReverb" value="混响"/>
    <add key="Form_MkPsf2FE_LblDepth" value="深度"/>
    <add key="Form_MkPsf2FE_LblVolume" value="音量"/>
    <add key="Form_MkPsf2FE_LblTempo" value="节奏"/>
    <add key="Form_MkPsf2FE_LblTickInterval" value="刻度间隔"/>
    <add key="Form_MkPsf2FE_LblAuthor" value="作者"/>
    <add key="Form_MkPsf2FE_MessageCancel" value="操作已取消"/>
    <add key="Form_MkPsf2FE_MessageComplete" value="操作完成"/>
    <add key="Form_MkPsf2FE_MessageBegin" value="正在处理..."/>

    <!-- PSF2 to PSF2Lib -->
    <add key="Form_Psf2ToPsf2Lib_Title" value="PSF2转PSF2LIB"/>
    <add key="Form_Psf2ToPsf2Lib_DoTaskButton" value="执行任务"/>
    <add key="Form_Psf2ToPsf2Lib_IntroText1" value="将PSF2文件转换为PSF2LIB格式."/>
    <add key="Form_Psf2ToPsf2Lib_IntroText2" value="选择源目录."/>
    <add key="Form_Psf2ToPsf2Lib_IntroText3" value="设置输出文件前缀."/>
    <add key="Form_Psf2ToPsf2Lib_GroupSource" value="源"/>
    <add key="Form_Psf2ToPsf2Lib_GroupOptions" value="选项"/>
    <add key="Form_Psf2ToPsf2Lib_LblOutputFilePrefix" value="输出文件前缀"/>
    <add key="Form_Psf2ToPsf2Lib_MessageCancel" value="操作已取消"/>
    <add key="Form_Psf2ToPsf2Lib_MessageComplete" value="操作完成"/>
    <add key="Form_Psf2ToPsf2Lib_MessageBegin" value="正在处理..."/>

    <!-- SSF Tools -->
    <!-- SSF Make Front End -->
    <add key="Form_SsfMakeFE_Title" value="ssfmake前端"/>
    <add key="Form_SsfMakeFE_DoTaskButton" value="执行任务"/>
    <add key="Form_SsfMakeFE_IntroText1" value="创建SSF文件."/>
    <add key="Form_SsfMakeFE_IntroText2" value="选择驱动程序和源路径."/>
    <add key="Form_SsfMakeFE_IntroText3" value="设置序列参数."/>
    <add key="Form_SsfMakeFE_IntroText4" value="点击执行任务开始处理."/>
    <add key="Form_SsfMakeFE_GroupFiles" value="文件"/>
    <add key="Form_SsfMakeFE_LblDriver" value="驱动程序"/>
    <add key="Form_SsfMakeFE_LblSourcePath" value="源路径"/>
    <add key="Form_SsfMakeFE_LblOutputFolder" value="输出文件夹"/>
    <add key="Form_SsfMakeFE_LblSingleDspFile" value="单个DSP文件"/>
    <add key="Form_SsfMakeFE_GroupSettings" value="设置"/>
    <add key="Form_SsfMakeFE_LblSequenceBank" value="序列库"/>
    <add key="Form_SsfMakeFE_LblSequenceTrack" value="序列轨道"/>
    <add key="Form_SsfMakeFE_LblVolume" value="音量"/>
    <add key="Form_SsfMakeFE_LblMixerBank" value="混音库"/>
    <add key="Form_SsfMakeFE_LblMixerNumber" value="混音编号"/>
    <add key="Form_SsfMakeFE_LblEffect" value="效果"/>
    <add key="Form_SsfMakeFE_CheckBoxMatchSeqBank" value="匹配序列库"/>
    <add key="Form_SsfMakeFE_CheckBoxSeekData" value="查找数据"/>
    <add key="Form_SsfMakeFE_MessageCancel" value="操作已取消"/>
    <add key="Form_SsfMakeFE_MessageComplete" value="操作完成"/>
    <add key="Form_SsfMakeFE_MessageBegin" value="正在处理..."/>

    <!-- SSF Seq/Ton Extractor -->
    <add key="Form_SeqextTonextFE_Title" value="seqext/tonext前端"/>
    <add key="Form_SeqextTonextFE_IntroText" value="提取SEQ和TON数据."/>
    <add key="Form_SeqextTonextFE_GroupSource" value="源"/>
    <add key="Form_SeqextTonextFE_LblDragNDrop" value="拖放文件"/>
    <add key="Form_SeqextTonextFE_CheckBoxExtractToSubfolder" value="提取到子文件夹"/>
    <add key="Form_SeqextTonextFE_LblAuthor" value="作者"/>
    <add key="Form_SeqextTonextFE_MessageCancel" value="操作已取消"/>
    <add key="Form_SeqextTonextFE_MessageComplete" value="操作完成"/>
    <add key="Form_SeqextTonextFE_MessageBegin" value="正在处理..."/>

    <!-- PSF Timer -->
    <add key="Form_SeqExtractor_Title" value="PSF定时器"/>
    <add key="Form_SeqExtractor_IntroText" value="在此处拖放PSF文件以提取时间信息."/>
    <add key="Form_SeqExtractor_GroupSource" value="源文件"/>
    <add key="Form_SeqExtractor_GroupOptions" value="选项"/>
    <add key="Form_SeqExtractor_CheckBoxForce2Loops" value="为找到的所有循环强制2个循环(不推荐,仅用于超时曲目)"/>
    <add key="Form_SeqExtractor_RadioForceSepType" value="SEP类型"/>
    <add key="Form_SeqExtractor_RadioForceSeqType" value="音序类型"/>
    <add key="Form_SeqExtractor_CheckBoxLoopEntireTrack" value="循环整个轨道(这对于循环整个轨道的轨道很有用)."/>
    <add key="Form_SeqExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_SeqExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_SeqExtractor_MessageBegin" value="正在处理..."/>

    <!-- PSF SEP to SEQ Extractor (SEP PsfSplitter) -->
    <add key="Form_PsxSepExtractor_Title" value="SEP PSF分割器"/>
    <add key="Form_PsxSepExtractor_IntroText" value="将PSX SEP格式文件拆分为音序文件."/>
    <add key="Form_PsxSepExtractor_MessageCancel" value="从SEP中提取SEQ… 已取消"/>
    <add key="Form_PsxSepExtractor_MessageComplete" value="从SEP中提取SEQ… 完成"/>
    <add key="Form_PsxSepExtractor_MessageBegin" value="从SEP中提取SEQ… 开始"/>

    <!-- Easy PSF Driver Extractor -->
    <add key="Form_EasyPsfExtractor_Title" value="简易PSF驱动提取器"/>
    <add key="Form_EasyPsfExtractor_IntroText" value="提取PSF驱动程序."/>
    <add key="Form_EasyPsfExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_EasyPsfExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_EasyPsfExtractor_MessageBegin" value="正在处理..."/>

    <!-- PSF2 Timer -->
    <add key="Form_Psf2Timer_Title" value="PSF2定时器"/>
    <add key="Form_Psf2Timer_IntroText" value="在此处拖放PSF2文件以提取时间信息."/>
    <add key="Form_Psf2Timer_MessageCancel" value="操作已取消"/>
    <add key="Form_Psf2Timer_MessageComplete" value="操作完成"/>
    <add key="Form_Psf2Timer_MessageBegin" value="正在处理..."/>

    <!-- mkpsf2 Front End Additional -->
    <add key="Form_MkPsf2FE_LblPsf2LibName" value="PSF2Lib名称"/>
    <add key="Form_MkPsf2FE_CheckBoxMakePsf2Lib" value="为HD/BD数据创建.psf2lib"/>
    <add key="Form_MkPsf2FE_CheckBoxTryCombinations" value="尝试SQ和HD/BD的所有组合（适合寻找匹配对）."/>

    <!-- PSF Maker (Bin2Psf) -->
    <add key="Form_Bin2PsfFE_Title" value="PSF制作器"/>
    <add key="Form_Bin2PsfFE_DoTaskButton" value="执行任务"/>
    <add key="Form_Bin2PsfFE_IntroText" value="将BIN文件转换为PSF格式."/>
    <add key="Form_Bin2PsfFE_GroupSource" value="源文件"/>
    <add key="Form_Bin2PsfFE_LblDriverPath" value="驱动程序路径"/>
    <add key="Form_Bin2PsfFE_LblSourceFiles" value="源文件目录"/>
    <add key="Form_Bin2PsfFE_LblOutputFolder" value="输出文件夹"/>
    <add key="Form_Bin2PsfFE_LblPsfLibName" value="PSFLIB名称"/>
    <add key="Form_Bin2PsfFE_CheckBoxMinipsf" value="创建.minipsf文件"/>
    <add key="Form_Bin2PsfFE_GroupOptions" value="偏移量参数"/>
    <add key="Form_Bin2PsfFE_LblSeqOffset" value="SEQ偏移"/>
    <add key="Form_Bin2PsfFE_LblVhOffset" value="VH偏移"/>
    <add key="Form_Bin2PsfFE_LblVbOffset" value="VB偏移"/>
    <add key="Form_Bin2PsfFE_GrpGenericDrivers" value="通用驱动程序"/>
    <add key="Form_Bin2PsfFE_LblGenericDriver" value="通用驱动"/>
    <add key="Form_Bin2PsfFE_LblSeqSize" value="音序大小"/>
    <add key="Form_Bin2PsfFE_LblParamOffset" value="参数偏移"/>
    <add key="Form_Bin2PsfFE_CheckBoxTryMixing" value="尝试音序和VH的所有可能组合(适合在不匹配的地方找到匹配项)"/>
    <add key="Form_Bin2PsfFE_CheckBoxForceSepTrackNo" value="Force SEP跟踪号码"/>
    <add key="Form_Bin2PsfFE_BtnLoadFromStubMaker" value="从存根制造商加载"/>
    <add key="Form_Bin2PsfFE_MessageCancel" value="操作已取消"/>
    <add key="Form_Bin2PsfFE_MessageComplete" value="操作完成"/>
    <add key="Form_Bin2PsfFE_MessageBegin" value="正在处理..."/>

    <!-- PSF2 Unpacker -->
    <add key="Form_UnpkPsf2FE_Title" value="PSF2解包器"/>
    <add key="Form_UnpkPsf2FE_IntroText" value="解包PSF2文件."/>
    <add key="Form_UnpkPsf2FE_MessageCancel" value="操作已取消"/>
    <add key="Form_UnpkPsf2FE_MessageComplete" value="操作完成"/>
    <add key="Form_UnpkPsf2FE_MessageBegin" value="正在处理..."/>

    <!-- PSF2 SQ Extractor -->
    <add key="Form_Psf2SqExtractor_Title" value="PSF2 SQ提取器"/>
    <add key="Form_Psf2SqExtractor_IntroText" value="从PSF2文件中提取SQ数据."/>
    <add key="Form_Psf2SqExtractor_MessageCancel" value="操作已取消"/>
    <add key="Form_Psf2SqExtractor_MessageComplete" value="操作完成"/>
    <add key="Form_Psf2SqExtractor_MessageBegin" value="正在处理..."/>

    <!-- Hoot XML Builder -->
    <add key="Form_HootXmlBuilder_Title" value="XML构建器"/>
    <add key="Form_HootXmlBuilder_Intro" value="构建Hoot XML文件."/>
    <add key="Form_HootXmlBuilder_GroupOptions" value="选项"/>
    <add key="Form_HootXmlBuilder_CheckBoxCombineOutput" value="合并输出文件"/>
    <add key="Form_HootXmlBuilder_CheckBoxSplitOutput" value="分割输出文件"/>
    <add key="Form_HootXmlBuilder_MessageCancel" value="操作已取消"/>
    <add key="Form_HootXmlBuilder_MessageComplete" value="操作完成"/>
    <add key="Form_HootXmlBuilder_MessageBegin" value="正在处理..."/>

    <!-- Hoot Collection Auditor -->
    <add key="Form_HootCollectionAuditor_Title" value="集合审核器"/>
    <add key="Form_HootCollectionAuditor_BtnDoTask" value="执行审核"/>
    <add key="Form_HootCollectionAuditor_Intro" value="审核Hoot集合数据."/>
    <add key="Form_HootCollectionAuditor_GrpOptions" value="选项"/>
    <add key="Form_HootCollectionAuditor_LblFolder" value="XML文件夹"/>
    <add key="Form_HootCollectionAuditor_LblArchiveFolders" value="归档文件夹"/>
    <add key="Form_HootCollectionAuditor_CheckboxIncludeSubDirs" value="包含子目录"/>
    <add key="Form_HootCollectionAuditor_MessageMissing" value="缺失文件"/>
    <add key="Form_HootCollectionAuditor_MessageCancel" value="操作已取消"/>
    <add key="Form_HootCollectionAuditor_MessageComplete" value="操作完成"/>
    <add key="Form_HootCollectionAuditor_MessageBegin" value="正在审核..."/>

    <!-- Tag/Info Viewer -->
    <add key="Form_ExamineTags_Title" value="标签/信息查看器"/>
    <add key="Form_ExamineTags_DoTaskButton" value="展开全部"/>
    <add key="Form_ExamineTags_IntroText1" value="在此处拖放文件以查看标签信息."/>
    <add key="Form_ExamineTags_IntroText2" value="点击展开全部按钮以展开树状视图."/>
    <add key="Form_ExamineTags_CheckBoxCheckForLibs" value="检查相关库文件"/>
    <add key="Form_ExamineTags_MessageCancel" value="操作已取消"/>
    <add key="Form_ExamineTags_MessageComplete" value="操作完成"/>
    <add key="Form_ExamineTags_MessageBegin" value="正在处理..."/>

    <!-- Search For Files -->
    <add key="Form_SearchForFile_Title" value="文件搜索"/>
    <add key="Form_SearchForFile_IntroText" value="搜索包含特定字符串的文件."/>
    <add key="Form_SearchForFile_DoTaskButton" value="执行搜索"/>
    <add key="Form_SearchForFile_GroupSource" value="源文件"/>
    <add key="Form_SearchForFile_LblDragNDrop" value="拖放文件夹"/>
    <add key="Form_SearchForFile_GroupOptions" value="选项"/>
    <add key="Form_SearchForFile_LblSearchString" value="搜索字符串"/>
    <add key="Form_SearchForFile_CheckBoxCaseSensitive" value="区分大小写"/>
    <add key="Form_SearchForFile_CheckBoxExtract" value="提取匹配的文件"/>
    <add key="Form_SearchForFile_LblOutputFolder" value="输出文件夹"/>
    <add key="Form_SearchForFile_MessageCancel" value="操作已取消"/>
    <add key="Form_SearchForFile_MessageComplete" value="操作完成"/>
    <add key="Form_SearchForFile_MessageBegin" value="正在搜索..."/>

  </appSettings>
</configuration>
